<div class="container profile view">
    <div>
        <div class="form-group row">
            <img  class="col-sm-2 profile-avatar" src="{{to_display.depiction}}" alt="Profile Picture" height="128" width="128" />
            <label class="col-sm-10 col-form-label profile-name">{{to_display.title}} {{to_display.givenname}} {{to_display.family_name}}</label>
        </div>

        {{#if to_display.nick}}
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Nickname
                            <a href="#" data-toggle="popover" data-placement="top" data-content="Only needed when your first name is different then your name you use">
                            <i class="fas fa-info-circle"></i>
                        </a>
                </label>
                <div class="col-lg-10">
                    <p>{{to_display.nick}}</p>
                </div>
            </div>
        {{/if}}

        {{!-- <div class="form-group row">
            <label class="col-sm-2 col-form-label">Password</label>
            <div class="col-lg-10">
                <p>{{to_display.password}}</p>
            </div>
        </div> --}}


        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Biography</label>
            <div class="col-lg-10">
                <p>{{to_display.topic_interest}}</p>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Position</label>
            <div class="col-lg-10">
                <p>{{to_display.status}}</p>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Office Number</label>
            <div class="col-lg-10">
                <p>{{to_display.officeNumber}}</p>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">E-mail</label>
            <div class="col-lg-10">
                <a href="mailto:{{to_display.mbox}}">{{to_display.mbox}}</a>
                <p></p>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Links</label>
            <div class="col-lg-10">
                <div><a href="{{to_display.homepage}}">{{to_display.homepage}}</a></div>
                <div><a href="{{to_display.twitterAccount}}">{{to_display.twitterAccount}}</a></div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Interests</label>
            <div class="col-lg-10">
                <p>
                {{#each to_display.interest}}
                <span class="badge badge-pill light-blue">{{this}}</span>

                {{/each}}
                </p>
            </div>
        </div>
    </div>

    <h3>Courses</h3>

    <div class="form-group row">
        {{#each to_display.teacherOfCourse}}
            <div class="col-lg-3 thumbnail-box">
                <img class="img-thumbnail img-fluid thumbnail" src="https://www.bplogix.com/wp-content/uploads/2016/12/BPM-vs-Workflow-BP-Logix.jpg" />
                <div class="content-infoboxes">
                    <h4 class="bottom-centered">{{this}}</h4>
                </div>
            </div>

    
        {{/each}}

        <div class="col-lg-3 thumbnail-box plus-icon ">
            <a href="#">
                <img class="img-fluid img-thumbnail thumbnail" />
                <i class="fas fa-plus centered"></i>
            </a>
        </div>
    </div>

    <h3>Current Projects</h3>
        <div class="form-group row">
        {{#each to_display.currentProject}}
            <div class="col-lg-3 thumbnail-box">
                <img class="img-thumbnail img-fluid thumbnail" src="https://www.bplogix.com/wp-content/uploads/2016/12/BPM-vs-Workflow-BP-Logix.jpg" />
                <div class="content-infoboxes">
                    <h4 class="bottom-centered">{{this}}</h4>
                </div>
            </div>
        {{/each}}

        <div class="col-lg-3 thumbnail-box plus-icon ">
            <a href="#">
                <img class="img-fluid img-thumbnail thumbnail" />
                <i class="fas fa-plus centered"></i>
            </a>
        </div>
    </div>









                <!--<span class="tag">CSS<span class="close"></span></span>
                <span class="tag">JavaScript<span class="close"></span></span>
                <span class="tag">HTML<span class="close"></span></span>-->
            </div>

    <a href="/profile/edit"><button class="btn btn-lg btn-primary btn-block">edit</button></a>
</div>

