<section class="container">
	
	
 			<div class="content">
 				<h1>Specialist Finder</h1>
				 <h3>Inquiry the Specialists in the KRR Group</h3>
 				<hr>
 				<div class="resultCB">
					<h4 class="animated bounceInRight"><strong>Mr. Watson says: </strong>{{ output }} 
					
					</h4>

					
				</div>
				
				<!--<p>The chatbot said: {{ reply }} </p>-->
				<div class="row">
						<div class="col-lg-2">
						</div>
							<div class="col-lg-8">
								<form class="formInput" action="/members/submit" method="post">
										<input class="form-control mr-sm-2 inputSearch" id="id" name="id" type="text" placeholder="Answer to Mr. Watson" aria-label="Search">
									
										<button class="btn btn-outline-success my-2 my-sm-0 btn btn-info" id="searchButton" type="submit"><i class="fa fa-search"></i></button>            
							</form>


							</div>
						<div class="col-lg-2">
						</div>
				</div>
			</div>
			

        <div id="recommended" class="left-half-recommend" >
			      <article>
							{{#if found}}
								{{#if valid}}
                <h1>Relevant Specialists</h1>
								<hr>
								{{/if}}
							{{/if}}
									{{#each upper}}

                    <section class="container">
										
											
										<div class="row">
										<div class="specialistBox">
												<div class="col-lg-4">
															<img class="imageCell thumbnail" src="{{this.image}}" />
												</div>
												<div class="col-lg-8">
													<div class = "textCell">
														<h2>{{this.name}} ({{this.position}})</h2>
														<div class="interestBox"><p><i>{{this.interest}}</i></p></div>
														<hr>
														<p id="descriptionResult">Senior researcher at the Database Architectures research group of CWI and professor at the Vrije Universiteit Amsterdam in the special chair of Large-Scale Analytical Data Management (about my research). Architect of the database systems MonetDB, VectorWise (aka Actian Vector) and VectorH (VectorWise-on-Hadoop). Have been involved in 3 spin-off companies in the area of data management.</p>
														<hr>
															<p><a href="{{this.homepage}}">Webpage of {{this.name}}</a>
																</p>
														<p>{{this.email}} - WN-T342</p>
													</div>
												</div>	
											</div>
										</div>
                    </section>
                    {{/each}}

            </article>			
					
				</div>	
	
        <div id="all" class="left-half-all" >
			      <article>
							
							{{#if found}}
								{{#if valid}}
                <h1>Other Specialists</h1>
								<hr>
								{{/if}}
							{{/if}}

                   <section class="container">
									{{#each lower}}
												<div class="col-sm-12 col-md-6 col-lg-3">
														<div>
															<img class="imageCell thumbnail" src="{{this.image}}" />
														</div>
														<div class="nameTittle">
															<a href="{{this.homepage}}">{{this.name}}</a>
														</div>
											</div>
                    {{/each}}
									</section>

            </article>			
					
				</div>				
				

</section>