<h1>{{ title }}</h1>
<p>Welcome to {{ title }}</p>

{{# each anyArray as |val key|}}
    {{ key }}: {{ val }}
{{/each}}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="content">
                <h1>Specialist Finder</h1>
                <h3>Find your Specialist</h3>
                <hr>
            </div>
        </div>
    </div>
</div>

<!--this is the chatbot-->

<form action="/members/submit" method="post">
    <input type="text" name="id">
    <button type="submit">Submit</button>
</form>

<p>ID passed: {{ output }}</p>

<p>The chatbot said: {{ reply }} </p>
